@use '../../sass/utils/variables.scss';

.rating {
  display: flex;
  font-size: 22px;
  gap: 10px;
  margin-bottom: 30px;
  .star {
    color: #e3e3e3;
  }
  .star__full {
    color: #ff6060;
  }
  @media (max-width: variables.$mobile) {
    font-size: 13px;
    gap: 5px;
    margin-bottom: 0;
  }
}
