@use './variables.scss';

@mixin headerNavFont {
  font-family: variables.$main-font;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
}

@mixin homeH1Font {
  font-family: variables.$main-font;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 8px #000, 1px 1px 0 #000;
}

@mixin homeCardFont {
  font-family: variables.$main-font;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

@mixin collapseTitleFont {
  font-family: variables.$main-font;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

@mixin collapseTextFont {
  font-family: variables.$main-font;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}

@mixin counterFont {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

@mixin locationFont {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

@mixin houseInfoTitle {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 36px;
  color: #ff6060;
}

@mixin houseInfoTag {
  font-family: variables.$main-font;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

@mixin houseInfoHost {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #ff6060;
}
