@use './variables.scss';

@mixin headerNavFont {
  font-family: variables.$main-font;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  @media (max-width: variables.$mobile) {
    font-size: 12px;
    text-transform: uppercase;
  }
}

@mixin bannerFont {
  font-family: variables.$main-font;
  font-size: 48px;
  font-weight: 700;
  padding: 0 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 8px #000, 1px 1px 0 #000;
  @media (max-width: variables.$mobile) {
    font-size: 24px;
    padding: 0 16px;
  }
}

@mixin homeCardFont {
  font-family: variables.$main-font;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  padding-right: 20px;
}

@mixin collapseTitleFont {
  font-family: variables.$main-font;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  @media (max-width: variables.$mobile) {
    font-size: 13px;
  }
}

@mixin collapseTextFont {
  font-family: variables.$main-font;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  @media (max-width: variables.$mobile) {
    font-size: 12px;
  }
}

@mixin counterFont {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

@mixin locationFont {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  @media (max-width: variables.$mobile) {
    font-size: 14px;
  }
}

@mixin houseInfoTitle {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 36px;
  color: #ff6060;
  @media (max-width: variables.$mobile) {
    font-size: 18px;
  }
}

@mixin houseInfoTag {
  font-family: variables.$main-font;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  @media (max-width: variables.$mobile) {
    font-size: 10px;
  }
}

@mixin houseInfoHost {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #ff6060;
  @media (max-width: variables.$mobile) {
    font-size: 12px;
  }
}

@mixin errorTitleFont {
  font-family: variables.$main-font;
  font-weight: 700;
  font-size: 288px;
  color: #ff6060;
  line-height: 1;
  @media (max-width: variables.$mobile) {
    font-size: 96px;
  }
}

@mixin errorMessageFont {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 36px;
  color: #ff6060;
  text-align: center;
  @media (max-width: variables.$mobile) {
    font-size: 18px;
  }
}

@mixin errorLinkFont {
  font-family: variables.$main-font;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  @media (max-width: variables.$mobile) {
    font-size: 14px;
  }
}

@mixin footerFont {
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  @media (max-width: variables.$mobile) {
    font-size: 12px;
    text-align: center;
  }
}
