@use '../../sass/utils/mixins.scss';
@use '../../sass/utils/variables.scss';

.cardContainer {
  display: flex;
  margin-top: 50px;
  @media (max-width: variables.$mobile) {
    margin-top: 22px;
  }
  .cardList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    @media (max-width: variables.$mobile) {
      padding: 0;
      background-color: #ffffff;
    }
    @media (min-width: variables.$mobile) and (max-width: variables.$inter) {
      gap: 22px;
      padding: 20px;
    }
    .card {
      width: 30%;
      height: 340px;
      position: relative;
      border-radius: 10px;
      cursor: pointer;
      img {
        border-radius: 10px;
        height: 340px;
        width: 100%;
        object-fit: cover;
      }
      h3 {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 20px;
        @include mixins.homeCardFont;
      }
      @media (max-width: variables.$mobile) {
        width: 100%;
      }
      @media (min-width: variables.$mobile) and (max-width: variables.$inter) {
        width: 48%;
      }
    }
    .card::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      border-radius: 10px;
      background: rgb(4, 4, 4);
      background: linear-gradient(
        0deg,
        rgba(4, 4, 4, 0.5242690826330532) 0%,
        rgba(255, 255, 255, 0) 27%
      );
    }
  }
}
