@use '../../sass/utils/mixins.scss';

.collapsible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
  position: relative;

  .collapsible__title {
    display: flex;
    height: 54px;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    h2 {
      @include mixins.collapseTitleFont;
    }
    button {
      border: none;
      background-color: #ff6060;
      cursor: pointer;

      i {
        color: #ffffff;
        font-size: 30px;
        transition: transform 0.5s;
      }
      .rotated {
        transform: rotate(-180deg);
      }
    }
  }
  p {
    @include mixins.collapseTextFont;
    overflow: hidden;
    background-color: #f6f6f673;
    position: relative;
    z-index: -1;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }
  .close {
    opacity: 0;
    transform: translateY(-20%);
    height: 0;
    padding: 0 20px;
  }
  .open {
    opacity: 1;
    transform: translateY(0%);
  }
}
