@use '../../sass/utils/variables.scss';

.housingPage {
  margin: 15px 100px 50px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: variables.$mobile) {
    margin: 10px 20px 20px 20px;
  }
}
