html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1.5;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home {
  margin: 50px 100px 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutUs {
  margin: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.aboutUs .aboutUs__content {
  width: 85%;
}

.housingPage {
  margin: 50px 100px 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px 20px 100px;
}
.header .header__logo {
  height: 68px;
}
.header .header__nav {
  display: flex;
  gap: 57px;
}
.header .header__nav .active {
  border-bottom: #000000 solid 1px;
}
.header .header__link {
  font-family: "Montserrat";
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
}

.footer_banner {
  width: 100%;
}

.home__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/src/assets/DHomeBanner.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.home__aboutUs {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/src/assets/DAboutUsBanner.png);
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 8px #000, 1px 1px 0 #000;
}

.hide {
  display: none;
}

.cardContainer {
  display: flex;
  margin-top: 50px;
}
.cardContainer .cardList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
.cardContainer .cardList .card {
  width: 30%;
  height: 340px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
.cardContainer .cardList .card img {
  border-radius: 10px;
  height: 340px;
  width: 100%;
  object-fit: cover;
}
.cardContainer .cardList .card h3 {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.cardContainer .cardList .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 10px;
}

.housingForm {
  width: 100%;
}

.collapsible_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
  position: relative;
}

.collapsible {
  width: 100%;
}
.collapsible .collapsible__title {
  display: flex;
  height: 54px;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
}
.collapsible .collapsible__title h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}
.collapsible .collapsible__title button {
  border: none;
  background-color: #ff6060;
  cursor: pointer;
}
.collapsible .collapsible__title button i {
  color: #ffffff;
  font-size: 30px;
  transition: transform 0.5s;
}
.collapsible .collapsible__title button .rotated {
  transform: rotate(-180deg);
}
.collapsible .collapsible__content {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  overflow: hidden;
  background-color: rgba(246, 246, 246, 0.4509803922);
  position: relative;
  z-index: -1;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
.collapsible .close {
  opacity: 0;
  transform: translateY(-20%);
  height: 0;
  padding: 0 20px;
}
.collapsible .open {
  opacity: 1;
  transform: translateY(0%);
}

.slideContent {
  width: 100%;
}
.slideContent .slideShow {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.slideContent .slideShow .slide {
  width: 100%;
  height: 415px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}
.slideContent .slideShow .arrow__left {
  height: 80px;
  position: absolute;
  left: 24px;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}
.slideContent .slideShow .arrow__right {
  height: 80px;
  position: absolute;
  right: 24px;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}
.slideContent .slideShow .counter {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.rating {
  display: flex;
  font-size: 22px;
  gap: 10px;
}
.rating .star {
  color: #e3e3e3;
}
.rating .star_full {
  color: #ff6060;
}

.houseInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.houseInfo .houseInfo_title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 36px;
  color: #ff6060;
}
.houseInfo .houseInfo_location {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.houseInfo .houseInfo_tagList {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.houseInfo .houseInfo_tagList .houseInfo_tag {
  display: flex;
  padding: 0 20px;
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.houseInfo .houseInfo_hostRating {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.houseInfo .houseInfo_hostRating .houseInfo_host {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.houseInfo .houseInfo_hostRating .houseInfo_host .houseInfo_host-name {
  width: 93px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #ff6060;
}
.houseInfo .houseInfo_hostRating .houseInfo_host .houseInfo_host-img {
  height: 64px;
  width: 64px;
  border-radius: 32px;
}

.houseInfo_collapsible {
  display: flex;
  flex-direction: row;
  gap: 76px;
  width: 100%;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
